<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/boostrap.min.css" />

    <title>Express MVC</title>
    <style>
      .container-home{ 
        display: flex; 
        justify-content: center; 
        align-items:center; 
        height: 100vh; 
      }
      .container-home .jumbotron{
        background-color:white;
      }
    </style>
  </head>
  <body>
    <div class="container-home">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Express MVC</h1>
          <p class="lead">Use this to speed up application development</p>
        </div>
      </div>
    </div>

    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/boostrap.min.js"></script>
  </body>
</html>